.corFundoDialogo{
    background-color: rgb(56, 56, 56, .2);
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    text-shadow: gray 1px 1px;
    color: white ;
}
.dicasDeResposta{
    background-color: darkblue;
    border-radius: 10px;
}

.grupoDeCheckboxes {
    margin: 12px 0;
}
.botaoTratadoNoCSS{
    text-align: center;
}
.preferencias {
    margin: 0 12px;
}