<h2 class="titulo">Orientações - Associar Computador</h2>
<h2 class="titulo">Operações</h2>
<div class="dicasDeResposta">
    <h3>Associação de Computadores</h3>
    <p>Ao acessar a rota <code>/manter-computador</code> e clicar no botão <code>"Associar Computador"</code>, o usuário será redirecionado para uma tabela
        listando todas os computadores disponíveis no sistema para que possa associar um desses computadores à si, o disponibilizando para criações, alterações e
        exclusões.</p>
    <p>
        Os computadores disponíveis na listagem são todos os computadores do sistema.
    </p>
</div>
<h2 class="titulo">Campos</h2>
<div class="dicasDeResposta">
    <h3>ID do Computador</h3>
    <p>Cada computador possui um número identificador único associado à ele. É importante o conhecimento deste número para que as
        operações de atualização e exclusão sejam realizadas.</p>
</div>
<div class="dicasDeResposta">
    <h3>ID do Gabinete - Nome do Gabinete</h3>
    <p>Cada gabinete possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui um gabinete.</p>
</div>
<div class="dicasDeResposta">
    <h3>ID da Fonte de Energia - Nome da Fonte de Energia</h3>
    <p>Cada fonte de energia possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui um gabinete.</p>
</div>
<div class="dicasDeResposta">
    <h3>ID do Armazenamento - Nome do Armazenamento</h3>
    <p>Cada gabinete possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui um gabinete.</p>
</div>
<div class="dicasDeResposta">
    <h3>ID da Placa Mãe - Nome da Placa Mãe</h3>
    <p>Cada gabinete possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui um gabinete.</p>
</div>
<div class="dicasDeResposta">
    <h3>ID do Processador - Nome do Processador</h3>
    <p>Cada gabinete possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui um gabinete.</p>
</div>
<div class="dicasDeResposta">
    <h3>ID da Memória RAM - Nome da Memória RAM - Quantidade de Pentes de Memória RAM</h3>
    <p>Cada gabinete possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui um gabinete.</p>
</div>
<div class="dicasDeResposta">
    <h3>Compatibilidade</h3>
    <p>Cada gabinete possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui um gabinete.</p>
</div>
<div class="dicasDeResposta">
    <h3>Preço de Montagem da Máquina</h3>
    <p>Cada gabinete possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui um gabinete.</p>
</div>
<button class="btn btn-warning" (click)="voltarATelaInicial()">Voltar à tela inicial</button>
