<h2 class="titulo">Orientações - Criar Computador</h2>
<h2 class="titulo">Operações</h2>
<div class="dicasDeResposta">
    <h3>Criar um Computador</h3>
    <p>Com acesso aos campos, o usuário pode preencher os campos e gerar um computador, que será apresentado na listagem de computadores uma vez criado o computador.</p>
    <p>É importante a visualização da tabela "Listar Computadores", pois os números identificadores que podem ser inseridos devem ser feitos com base nos que já estão dispostos</p>
</div>
<h2 class="titulo">Campos</h2>
<div class="dicasDeResposta">
    <h3>ID do Computador</h3>
    <p>Cada computador possui um número identificador único associado à ele. É importante o conhecimento deste número para que as
        operações de atualização e exclusão sejam realizadas.</p>
</div>
<div class="dicasDeResposta">
    <h3>ID do Gabinete - Nome do Gabinete</h3>
    <p>Cada gabinete possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui um gabinete.</p>
</div>
<div class="dicasDeResposta">
    <h3>ID da Fonte de Energia - Nome da Fonte de Energia</h3>
    <p>Cada fonte de energia possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui uma fonte de energia.</p>
</div>
<div class="dicasDeResposta">
    <h3>ID do Armazenamento - Nome do Armazenamento</h3>
    <p>Cada gabinete possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui algum tipo de armazenamento, seja ele SSD ou HD.</p>
</div>
<div class="dicasDeResposta">
    <h3>ID da Placa Mãe - Nome da Placa Mãe</h3>
    <p>Cada gabinete possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui uma placa mãe.</p>
</div>
<div class="dicasDeResposta">
    <h3>ID do Processador - Nome do Processador</h3>
    <p>Cada gabinete possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui um gabinete.</p>
</div>
<div class="dicasDeResposta">
    <h3>ID da Memória RAM - Nome da Memória RAM - Quantidade de Pentes de Memória RAM</h3>
    <p>Cada gabinete possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui, pelo menos, um pente de memória RAM.</p>
</div>
<div class="dicasDeResposta">
    <h3>Compatibilidade</h3>
    <p>As peças que foram associadas à um computador podem ou não ser compatíveis entre si.</p>
</div>
<div class="dicasDeResposta">
    <h3>Preço de Montagem da Máquina</h3>
    <p>Uma vez de posse de todas as peças necessárias, a loja associará ao preço da máquina também o preço de montá-la, já que devem ser
        investido em pasta térmica, organização de cabos, etc.</p>
</div>
<button class="btn btn-warning" (click)="voltarATelaInicial()">Voltar à tela inicial</button>
