<h2 class="titulo">Orientações - Listar Processador</h2>
<h2 class="titulo">Operações</h2>
<div class="dicasDeResposta">
    <h3>Listagem de todas os Processadores</h3>
    <p>Ao acessar a rota <code>/manter-processador</code> ou clicar no botão <code>"Listar Processador"</code>, o usuário será redirecionado para uma tabela
        listando todos os processadores disponíveis no sistema.</p>
</div>
<div class="dicasDeResposta">
    <h3>Atualização completa de um processador</h3>
    <p>Uma vez escolhendo o processador desejado e clicando no botão <code>"Atualizar Processador N"</code>, será exibido um modal
        que possibilitará a atualização completa daquele processador se nenhum campo for <code>desabilitado</code>.</p>
</div>
<div class="dicasDeResposta">
    <h3>Atualização parcial de uma Processador</h3>
    <p>Uma vez escolhendo o processador desejado e clicando no botão <code>"Atualizar Processador N"</code>, será exibido um modal
        que possibilitará a atualização parcial daquele processador caso algum campo seja <code>desabilitado</code> pelo
        usuário por meio de deschecagem do respectivo checkbox.</p>
</div>
<div class="dicasDeResposta">
    <h3>Exclusão de uma Processador</h3>
    <p>Uma vez escolhendo o processador desejado e clicando no botão <code>"Deletar Processador N"</code>, será exibido um modal
        que possibilitará a exclsuão daquele processador.</p>
</div>
<h2 class="titulo">Campos</h2>
<div class="dicasDeResposta">
    <h3>ID da Processador</h3>
    <p>Cada processador possui um número de identificação único associado à ele. É importante o conhecimento deste número para que as
        operações de atualização e exclusão sejam realizadas.</p>
</div>
<div class="dicasDeResposta">
    <h3>Nome do Processador</h3>
    <p>Todo o processador possui um nome.</p>
</div>
<div class="dicasDeResposta">
    <h3>Marca do Processador</h3>
    <p>Todo o processador possui uma marca. Essa mesma marca pode ser uma distribuidora ou uma fabricante.</p>
</div>
<div class="dicasDeResposta">
    <h3>Quantidade de núcleos do Processador</h3>
    <p>Todo o processador possui uma certa quantidade de núcleos.</p>
    <p>O núcleo do processado (Core) é uma unidade de processamento independente conectada à Unidade Central de Processamento (CPU).
    Atualmente, há modelos de chips que vão de dois até trinta e dois núcleos. Essencialmente, um núcleo pode ser uma CPU inteira.</p>
</div>
<div class="dicasDeResposta">
    <h3>Quantidade de threads do Processador</h3>
    <p>Todo o processador possui uma certa quantidade de threads.</p>
    <p>Threads são entidades escalonadas para executarem na CPU. As mesmas threads concorrerão pelo processador juntamente com mais
    threads que tiverem no programa, ou concorrerá apenas com o fluxo do programa.</p>
</div>
<div class="dicasDeResposta">
    <h3>Preço do Processador</h3>
    <p>Todo o processador possui um preço, em reais.</p>
</div>
<button class="btn btn-warning" (click)="voltarATelaInicial()">Voltar à tela inicial</button>
