<h1 class="titulo__h1">SISTEMA PROMETHEUS</h1>

<carousel class="carrosel">
  <slide class="slide">
    <img src="assets/images/prometheus_1.jpg" alt="Primeiro Slide" class="slideImg">
    <div class="carousel-caption d-none d-md-block">
      <h3 class="titulo__h3">Monte seu Computador</h3>
      <p class="titulo__p">Como quiser</p>
    </div>
  </slide>
  <slide class="slide">
    <img src="assets/images/prometheus_2.jpg" alt="Segundo Slide" class="slideImg">
    <div class="carousel-caption d-none d-md-block">
      <h3 class="titulo__h3">Monte seu Computador</h3>
      <p class="titulo__p">Experimente novas configurações</p>
    </div>
  </slide>
  <slide class="slide">
    <img src="assets/images/prometheus_3.jpg" alt="Terceiro Slide" class="slideImg">
    <div class="carousel-caption d-none d-md-block">
      <h3 class="titulo__h3">Monte seu Computador</h3>
      <p class="titulo__p">Acesso à vários processadores</p>
    </div>
  </slide>
  <slide class="slide">
    <img src="assets/images/prometheus_4.jpg" alt="Quarto Slide" class="slideImg">
    <div class="carousel-caption d-none d-md-block">
      <h3 class="titulo__h3">Monte seu Computador</h3>
      <p class="titulo__p">Consulta de Hardware Online</p>
    </div>
  </slide>
</carousel>
<p class="titulo__usuarioAutenticado" *ngIf="emailLogado != ''"> Usuário logado: {{ emailLogado }}</p>
<div class="grupoDeCards">
  <mat-card class="cardMaterial">
    <mat-card-title><h3 class="titulo__h3_2">Como montar um computador</h3></mat-card-title>
    <p class="descricao-accordion">"Esta é a melhor época para se montar o próprio computador, mas por onde é melhor começar? Determinar a finalidade do computador novo
      é o primeiro passo, e servirá para orientá-lo pelo resto do processo. Depois de determinar a finalidade do computador, você define o que precisará de hardware, que
      é a fonte do desempenho do computador. Consiga o melhor desempenho com o seu orçamento investindo nos componentes certos desde o início.
      Só depois disso que você pode começar a montar."</p>
    <a class="fonte-accordion" href="https://br.crucial.com/articles/pc-builders/how-to-build-a-computer">Fonte</a>
  </mat-card>
  <mat-card class="cardMaterial">
    <mat-card-title><h3 class="titulo__h3_2">APRENDA A MONTAR UM PC GAMER OU DE ESCRITÓRIO COMPLETAMENTE</h3></mat-card-title>
    <iframe width="500" height="315" src="https://www.youtube.com/embed/O9845EjK7o0" title="APRENDA A MONTAR UM PC GAMER OU DE ESCRITÓRIO COMPLETAMENTE"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a class="fonte-accordion" href="https://www.youtube.com/watch?v=O9845EjK7o0">Fonte</a>
  </mat-card>
  <mat-card class="cardMaterial">
    <mat-card-title><h3 class="titulo__h3_2">REVIEW | Intel Core i7-13700K - a mais forte opção do segmento high-end</h3></mat-card-title>
    <p class="descricao-accordion">"O Intel Core i7-13700K conta com um importante upgrade comparado ao seu antecessor da geração Alder Lake: ele recebeu o dobro de núcleos de
      eficiência, subindo dos quatro para os oito núcleos. Isso somado aos oito núcleos de performance da arquitetura híbrida da Intel totalizam um processador de 16 núcleos
      e 24 threads, a configuração que na linha anterior estava disponível apenas no Core i9. Além disso, ele conta com benefícios da nova geração Intel Core Raptor Lake,
      como frequências de operação mais altas nos núcleos, no fabric e nas memórias suportadas, além de um aumento da quantidade de memória de nível 2 (L2 cache). "</p>
    <a class="fonte-accordion" href="https://adrenaline.com.br/analises/v/79587/review-intel-core-i7-13700k-a-mais-forte-opcao-do-segmento-hign-end">Fonte</a>
  </mat-card>
</div>