<h2 class="titulo">Orientações - Listar Computador</h2>
<h2 class="titulo">Operações</h2>
<div class="dicasDeResposta">
    <h3>Listagem de todos os Computadores</h3>
    <p>Ao acessar a rota <code>/manter-computador</code> ou clicar no botão <code>"Listar Computador"</code>, o usuário será redirecionado para uma tabela
        listando todos os computadores disponíveis no sistema que estão associados à ele.</p>
    <p>
        Os computadores disponíveis na listagem são todos os computadores do sistema associados ao usuário que está autenticado.
    </p>
</div>
<div class="dicasDeResposta">
    <h3>Atualização completa de um Computador</h3>
    <p>Uma vez escolhendo o computador desejado e clicando no botão <code>"Atualizar Computador N"</code>, será exibido um modal
        que possibilitará a atualização completa daquele computador se nenhum campo for <code>desabilitado</code>.</p>
</div>
<div class="dicasDeResposta">
    <h3>Atualização parcial de um Computador</h3>
    <p>Uma vez escolhendo o computador desejado e clicando no botão <code>"Atualizar Computador N"</code>, será exibido um modal
        que possibilitará a atualização parcial daquele computador caso algum campo seja <code>desabilitado</code> pelo
        usuário por meio de deschecagem do respectivo checkbox.</p>
</div>
<div class="dicasDeResposta">
    <h3>Exclusão de um Computador</h3>
    <p>Uma vez escolhendo o computador desejado e clicando no botão <code>"Deletar Computador N"</code>, será exibido um modal
        que possibilitará a exclsuão daquela Computador.</p>
</div>
<h2 class="titulo">Campos</h2>
<div class="dicasDeResposta">
    <h3>ID do Computador</h3>
    <p>Cada computador possui um número identificador único associado à ele. É importante o conhecimento deste número para que as
        operações de atualização e exclusão sejam realizadas.</p>
</div>
<div class="dicasDeResposta">
    <h3>ID do Gabinete - Nome do Gabinete</h3>
    <p>Cada gabinete possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui um gabinete.</p>
</div>
<div class="dicasDeResposta">
    <h3>ID da Fonte de Energia - Nome da Fonte de Energia</h3>
    <p>Cada fonte de energia possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui um gabinete.</p>
</div>
<div class="dicasDeResposta">
    <h3>ID do Armazenamento - Nome do Armazenamento</h3>
    <p>Cada armazenamento possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui um armazenamento (SSD ou HD).</p>
</div>
<div class="dicasDeResposta">
    <h3>ID da Placa Mãe - Nome da Placa Mãe</h3>
    <p>Cada gabinete possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui um gabinete.</p>
</div>
<div class="dicasDeResposta">
    <h3>ID do Processador - Nome do Processador</h3>
    <p>Cada processador possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui um processador.</p>
</div>
<div class="dicasDeResposta">
    <h3>ID da Memória RAM - Nome da Memória RAM - Quantidade de Pentes de Memória RAM</h3>
    <p>Cada memória RAM possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui, no mínimo, um pente de memória RAM.</p>
</div>
<div class="dicasDeResposta">
    <h3>Compatibilidade</h3>
    <p>Cada gabinete possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui um gabinete.</p>
</div>
<div class="dicasDeResposta">
    <h3>Preço de Montagem da Máquina</h3>
    <p>Cada gabinete possui tanto um nome quanto um número identificador único associado à ele.
        É importante o conhecimento deste número para que as operações de atualização e exclusão sejam realizadas, ja que
        um certo computador possui um gabinete.</p>
</div>
<button class="btn btn-warning" (click)="voltarATelaInicial()">Voltar à tela inicial</button>
